<div id="blog" class="bg-zinc-100 w-full">
    <div class="container py-8 sm:py-16">
        <h2 class="text-lg text-zinc-400 text-center uppercase mb-8">
            Latest Blog Posts
        </h2>

        <ul class="list-none grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6">
            {% for post in posts %}
                <li class="blog-card space-y-4">
                    <a href="{{ post.link }}" class="flex justify-between items-start group">
                        <div class="flex flex-col gap-1">
                            <h3 class="shrink font-semibold text-xl group-hover:underline">
                                {{ post.title }}
                            </h3>

                            <span class="flex-none text-zinc-400 whitespace-nowrap">{{ post.pubDate | date('F jS, Y') }}</span>
                        </div>

                        <div class="flex-none">
                            {{ svg('regular/arrow-up-right-from-square', ['fill-current', 'size-4', 'text-zinc-400']) }}
                        </div>
                    </a>

                    <div class="line-clamp-8 text-ellipsis space-y-4">
                        {{ post.description | raw }}
                    </div>

                    <a href="{{ post.link }}" class="flex items-center gap-1 uppercase hover:underline">
                        Continue reading {{ svg('regular/arrow-right', ['fill-current', 'size-6']) }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="text-center mt-6">
            <a href="https://blog.chriskankiewicz.com" class="inline-flex items-center gap-1 text-lg uppercase hover:underline">
                More blog posts {{ svg('regular/arrow-right', ['fill-current', 'size-6']) }}
            </a>
        </div>
    </div>
</div>
